<h1>EKART LARGE</h1>
<ul> <!-- Use <ul> instead of <li> for unordered list -->
    <li>
    
            <h3>Upload the file to consolidate the Global tracking Id</h3> <!-- Move heading inside list item -->
            <div class="consolidate">
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <input type="file" name="document" required>
                    <div>
                        <button type="submit">Upload</button>
                    </div>
                </form>
            </div>
    </li>

    <li>
        <h3>Remove Null Data</h3>
        
            <div class="consolidate">
                <form action="/null" method="post" enctype="multipart/form-data">
                    <input type="file" name="document" required>
                    <div>
                        <button type="submit">Upload</button>
                    </div>
                </form>
            </div>
       
    </li>

    <li>
      
            <div class="consolidate">
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <input type="file" name="document" required>
                    <div>
                        <button type="submit">Upload</button>
                    </div>
                </form>
            </div>
       
    </li>
</ul>

