<div class="login-background">
<h1 class="mt-5 mb-4">LOGIN</h1>



<form action="/api/user/login/user" method="post">

  <div class="mb-3">
    <label for="email" class="form-label">Email Address</label>
    <input type="email" class="form-control" id="email" name="emailId" required>
  </div>  

  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" required>
  </div> 


  <button type="submit" class="btn btn-primary">Login</button>
</form>    


<div class="image-login">
  <a href="https://fareye.com/">
<img src="https://images.unsplash.com/photo-1658954274400-b3ba4b919f43?q=80&w=1789&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
</a>
</div>

</div>