<h1>Services</h1>
<span id="color">Hint: Choose Account From the given option</span>

<div class="flex-container">
    <div id="block-container">
        <div class="Box">
            <form method="get" action="/api/RateCard/LargeRateCard">
                <button style=" background-color: red;color:white; /* Set text color to white */
                padding: 10px 20px; /* Add padding for better appearance */
                font-size: 16px; /* Set font size */
                border: none; /* Remove border */
                border-radius: 5px; /* Add border radius for rounded corners */
                cursor: pointer;">LARGE</button>
            </form>
        </div>
    </div>


    <div id="block-container">
    <div class="Box">
        <form method="get" action="/api/RateCardnonLarge/rate_card_creation">
            <button style="background-color: green;color: white; /* Set text color to white */
            padding: 10px 20px; /* Add padding for better appearance */
            font-size: 16px; /* Set font size */
            border: none; /* Remove border */
            border-radius: 5px; /* Add border radius for rounded corners */
            cursor: pointer;">NON LARGE</button>
        </form>
    </div>
    </div>
</div>
