<h1>B2B Uat Creation</h1>
<p>Note: Please Fill in the Form to Create Excel File For Uat</p>

<form action="/api/b2bUAT/SubmitData/" method="post">
    <label for="rate_card_name">Please fill in Merchant names (comma separated)</label>
    <input type="text" name="rate_card_name" id="rate_card_name" required>
    <br>
    <input type="submit" value="Submit">
</form>
